.container {
    position: relative;
    text-align: center;
    color: white;
  }


  .top-left {
    position: absolute;
    top: 8px;
    
  }

  .top-left2 {
    position: absolute;
    top: 40px;
    left: 3px;
  }

  #page1 {
    background-image:url("../images/bookimage1.jpeg");
      } 

  .logo{
    display: block;
    max-width: 160px;
    margin: 0 0 40px 0;
  }

  .formTesting{
    max-width: 250px;
    margin: 60px 0 0px 160px;
    position: absolute;
  }

  .formTesting label, .formTesting input{
    display: block;
  }

  #email1{
    border: 2px solid red;
    border-radius: 12px;
    padding: 5px;
  }

  #password1{
    border: 2px solid red;
    border-radius: 12px;
    padding: 5px;
  }

  #badge1{
    border: 2px solid red;
    border-radius: 12px;
    padding: 5px;
  }

  .container1 {
    height: 300px;
    width: 40%;
    background-color: #F7E0D4;
    margin: 0 auto;
    border-style: solid;
    border-radius: 12px;
    padding: 5px;
    position: relative;
  }
  
  .indexbtn{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid red;
    border-radius: 12px;
    padding: 5px;
    height: 30px;
    width: 200px;
    margin: 0 auto ;
  }
  


  header {
    background-color:#347B98;
    padding: 15px;
    text-align: center;
    font-size: 20px;
    color: white;
  }
  

  
* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: white;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: none;
  color: black;
}

.topnav input[type=text] {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  
  .topnav input[type=text] {
    border: px solid black;  
  }
}


  hr { /*dummy content*/
    height: 6px;
    border: none;
    background: rgba(0, 0, 0, 0.1);
  } 
  
  hr:last-child {  /*dummy content*/
    margin-right: 60%;
  }
  
  hr.image { /*dummy content*/
    padding-bottom: 50%;
  } 
  
  .page {
    padding: 2em;
    background: #F7E0D4;
    width: 85%;
    margin: 0 0 0 auto;
  }
  
  .archive {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: 1em;
  }
  
  .article {
    padding: 1em;
    background: #fff;
    box-shadow:
      0 5px 10px rgba(0, 0, 0, 0.1),
      0 20px 20px rgba(0, 0, 0, 0.05);
  }

  #links {
    padding: 2em;
    background: #F7E0D4;
    width: 15%;
    margin: 0 auto 0 0;
    
  }

  .bodywrap {
    display: flex;
    flex-direction: row;
    z-index: 1;
  }

  #page1 {
    background-image:url("../Project-phase1/images/bookimage1.jpeg");
  } 

  #page3 {
    background-color: #F7E0D4;
  }

  .addbkform {
    margin: 0 auto;
    border-style: solid;
    border-color: #092834; 
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    border-width: 3px;
    box-shadow:  0 5px 10px rgba(0, 0, 0, 0.1),
    0 20px 20px rgba(0, 0, 0, 0.05);
    position: relative;


  }
  .image {
    height: 150px;
    width: 150px;
    margin: 0 auto;
    flex-wrap: wrap;
    display: block;

  }

  div.container{
    align-self: flex-end;
    padding: 12px;
    position: relative;
    top: 50%;
  }

  #myInput {
    background-image: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698956-icon-111-search-512.png'); /* Add a search icon to input */
    background-position: 5px 6px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
  }

  .d-none {
    display: none;
  }

  #signbtn{
    position:relative;
    top:0;
    left:0;
    float:right;
  }